.flex-container {
flex-wrap: wrap;
display: flex;
justify-content: space-around;
padding: 0%;
}

.card {
    width: 20%;
    height: 35%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    margin: 12px 12px 12px;
    border-radius: 15px;
    box-shadow: 7px 7px 7px 7px;
    background-color: burlywood;
}

.pic {
    width: 80%;
    height: 80%;
    width: 20vw;
    height: 280px;
    object-fit: cover;
  }

  .card-title {
    font-family: 'Croissant One', cursive;
    font-size: large;
}

.animal-desc {
    text-align: center;
    font-size: x-large;
}